<div class="center jumbotron">
    <h1>Fabrication Plan Generator</h1>
    <%= link_to "Help", static_pages_help_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Add Tools", '/tools', class: "btn btn-lg btn-primary" %>
    <%= link_to "Add Vice", '/vices', class: "btn btn-lg btn-primary" %>
    <%= link_to "Upload Part", '/fab_plan/create', class: "btn btn-lg btn-primary" %>
</div>
