<p id="notice"><%= notice %></p>

<p>
  <strong>Height:</strong>
  <%= @parallel_plate.height %>
</p>

<%= link_to 'Edit', edit_parallel_plate_path(@parallel_plate) %> |
<%= link_to 'Back', parallel_plates_path %>
